.campos{
    display: flex;
    flex-direction: row;
}

.campos .labels,.inputs{
 text-align: end;   
 padding: 0.65rem;
 display: flex;
 flex-direction: column;
 gap: 0.9rem;
}

.campos .inputs{
    width: 80%;
}

.campos input,textarea{
    border-radius: 0.6rem;
    border-color: transparent;
    padding: 5px;
    width: 100%;
}

.campos label{
    padding-left: 6px 0;
    font-size: 18px;
    font-weight: 450;
}