@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

:root {
    --cor-de-fundo: #eeee;
    --fonte-geral: 'Arial', sans-serif;
    --tamanho-texto:18px;
    --tamanho-titulo:32px;
    --cor-titulo: black;
    --cor-botoes:#176B87;
    --cor-letras:aliceblue;
    --cor-barra-de-nav: linear-gradient(rgb(6, 69, 97), rgb(43, 104, 131));;
    --tamanho-botoes: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

main {
    background-color: var(--cor-de-fundo);
    padding-bottom: 2rem;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
a,
li,
label,
button {
    font-family: var(--fonte-geral);
    border-radius: 0.8rem;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    font-weight: 500;
}

span,p,label,li{
    font-size: var(--tamanho-texto);
}

button,a{
    color: var(--cor-botoes)
}

.titulo {
    font-size: var(--tamanho-titulo);
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    color: var(--cor-titulo);
    display: grid;
    place-items: center;
    text-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.50);
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 500;
}

.texto {
    font-size: var(--tamanho-texto);
    text-align: center;
}


/* Header Inicio */
#top {
    display: none;
    position: fixed;
    bottom: 1.6rem;
    right: 1.4rem;
    z-index: 99;
    font-size: 1.8rem;
    color: #0c54f0;
    border: none;
    background-color: transparent;
}

.barra-de-navegacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 4;
    padding: 0.8rem;
}

.logo-cabecalho {
    margin-left: 1.3rem;
}

.nav-bar {
    display: grid;
    place-items: center;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.botao-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

#close{
    font-size: 32px;
    color: #fff;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-links li {
    transition: all 0.5s;
}

.menu-links li:hover {
    transform: scale(0.8);
}

.menu-links li a {
    text-decoration: none;
    color: var(--cor-letras);
    font-size: var(--tamanho-texto);
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cliente {
    font-size: medium;

}

/* Fim Header */

/* Footer Inicio */
.conteudo {
    background: linear-gradient(#064561, #2b6883);
    font-style: italic;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.2rem;
    gap: 0.8rem;
}

.conteudo button {
    border-radius: 0.6rem;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
    padding: 0.4rem;
    width: 75%;
    background-color: #00354D;
    color: var(--cor-letras);
    font-size: 13px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--fonte-geral);
}

.logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer a:hover {
    scale: 1.2;
}

/* Redes Sociais */
#footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
}

#footer-socialmedia .footer-link {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
}

#footer-socialmedia .footer-link i {
    font-size: 1.6rem;
    color: var(--cor-letras);
}

#footer-socialmedia .footer-link :hover {
    opacity: 75%;
}

/* Fim Redes Sociais */

.fale-conosco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.fale, .visite, .endereco, .copyright_text{
    color: var(--cor-letras);
}

.informacoes-de-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visita {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.copyright {
    background-color: #000000;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer */

/* PAGINA INDEX */
.conteudo_principal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 0;
}

#video-apresentacao {
    width: 80%;
    border-radius: 1.8rem;
}

.video__texto {
    text-align: center;
    font-size: var(--tamanho-texto);
}

button {
    transition: all 0.4s;
}

button:hover {
    scale: 1.08;
}

/* Config Cards */
.servicos_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
}

figure>* {
    grid-area: 1/1;
    transition: .4s;
}

figure figcaption {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: var(--tamanho-titulo);
    font-weight: bold;
    color:var(--cor-letras);
    padding: 0.75rem;
    background: var(--c, rgba(4, 68, 97, 0.6));
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}

figure:hover figcaption {
    --_i: 0%;
}

figure:hover img {
    transform: scale(1.2);
}

figure img {
    width: 22rem;
    height: 22rem;
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: var(--cor-letras);
    }
}

/* Fim Config Cards */

#botao_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos_botao {
    text-decoration: none;
    color: var(--cor-letras);
    padding: 1.5rem;
    background: var(--cor-botoes);
    transition: all 0.4s;
}

.servicos_botao:hover {
    scale: 1.08;
}

.servicos_texto {
    text-align: center;
    font-weight: 500;
    font-size: var(--tamanho-titulo);
}

/* Contato */

.conteudo_contato {
    display: grid;
    gap: 0.8rem;
    padding: 1.4rem;
}

.conteudo_contato a {
    transition: all 0.32s;
    text-decoration: none;
    color: var(--cor-letras);
    padding: 1.5rem;
    background: var(--cor-botoes);
    border-radius: 0.8rem;
}

.conteudo_contato a:hover {
    scale: 1.08;
}

.conteudo_contato_links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.conteudo_contato_links a {
    text-decoration: none;
}

.conteudo_contato_titulo {
    font-weight: 500;
    text-align: center;
}

.whatsapps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.whatsapps a {
    width: 13rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.65rem;
}

.whatsapps a i {
    font-size: 32px;
}

.telefones {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    align-items: center;
    justify-content: center;
}

.telefones a {
    text-decoration: none;
    padding: 1.5rem;
    color: var(--cor-letras);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Fim Contatos */

/* Pagina Sobre */

/* Fim Pagina Sobre */


/* Pagina SAC*/
.titulo-sac {
    padding-top: 1.2rem;
    text-align: center;
}

.dados-pessoais {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0px 15rem;
    line-height: 1.5rem;
}

.dados-pessoais .agrupamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.31rem;
}

.dados-pessoais .agrupamento div {
    display: flex;
    flex-direction: column;

}

.dados-pessoais input,
select {
    border-radius: 0.4rem;
    border-color: transparent;
}

.dados-pessoais button {
    border-radius: 0.8rem;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
    padding: 0.4rem;
    width: 25rem;
    background-color: var(--cor-botoes);
    font-size: 13px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.envia-sac{
    margin: 0 auto 0 auto;
}

/*Fim Pagina SAC*/


/*PAGINA ORÇAMENTOS*/
.orcamento button{
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: skew(-12deg); */
}

.orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-orcamento{
    /* width: 60vw;
    padding: 0 auto 0 auto; */
}

.campos{
    display: grid;
    gap:0.8rem;
    grid-template-areas: 
                "labelnome nome nome nome nome nome"
                "labelcpf cpf labeltel telefone labelemail email"
                "labelcep cep botao . . ."
                "labelrua logradouro logradouro logradouro labelnum numero"
                "labelbairro bairro labelcity cidade labeluf estado"
                "labeltipo tipo tipo labelmodel modelo modelo"
                "labeldesc descricao descricao descricao descricao descricao"
                " . . submit submit . . "
                ;
}

label{
    display: grid;
    place-items: center;
}

.campos input,textarea, select{
    border-color: transparent;
    margin: 0.4rem 0;
    line-height: 1.8rem;
}

.correcao{
    font-size: 1rem;
    color: rgb(216, 25, 25);
}

#botao-cep{
    background: #2b8350;
    color: var(--cor-letras);
    border: none;
    border-radius: 0.5rem;
    padding: 0 1.2rem 0 1.2rem;
    /* transform: skew(0deg); */
    font-weight: 500;
}

.form-orcamento-solicitar{
    background: var(--cor-botoes);
    color: var(--cor-letras);
    border: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    display: flex;
}

.form-orcamento-solicitar span{
    text-align: center;
    padding: 1rem 1.4rem;
    border-radius: 6px;
    transition: 0.3s;
}

.form-orcamento-solicitar:hover span{
    background: none;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato .texto{
    color: black;
    font-family: 'Monteserrat' sans-serif;
    font-weight: 500;
    font-size: large;
}

.contato-whatsapps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10vw;
}

.contato-whatsapps button{
    padding: 1.2rem 1.1rem;
    background: var(--cor-botoes);
    border: none;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: var(--tamanho-botoes);
    transition: all 0.4s;
}

.contato-whatsapps button span{
    color: var(--cor-letras);
}

.contato-whatsapps button:hover{
    scale: 1.08;
}

.contato-whatsapps .fa-brands{
    color: var(--cor-letras);
    font-size: 2.3rem;
}

/*FIM ORÇAMENTOS*/

/* PAGINA SERVIÇOS */
.servicos_principal {
    display: grid;
    place-items: center;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85vw;
}

.servicos p {
    width: 75vw;
    padding: 0.75rem 0;
    text-align: justify;
    font-weight: 400;
}

.imagens_tipo {
    border-radius: 3rem;
    object-fit: cover;
    background-color: #7d7d7d;
    width: 65rem;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.servicos_corretiva_texto {
    display: flex;
    flex-wrap: wrap;
}

.servicos_calibracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos_titulo {
    display: flex;
    font-size: 36px;
    font-weight: 600;
}

.lista_equip{
    display: flex;
    flex-direction: column;
}

.calibracao_tipos {
    width: 100%;
    max-width: 84rem;
    position: relative;
}

.calibracao_tipos .content {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    height: 0;
}

.calibracao_tipos .item {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

.prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

.next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.card {
    border-radius: 17px;
    width: 20rem;
    height: 20rem;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.preventiva_img::before {
    content: '';
}

.preventiva_img::after {
    content: "Calibração";
    height: 100%;
    width: 15rem;
    right: 0;
    left: auto;
    background-color: black;
}

/* FIM PAGINA SERVIÇOS */

/*PAGINA POLITICAS*/

#politica{
    padding: 2rem 7rem;
    display: flex;
    flex-direction: column;
    position: relative
}

.politica-background{
    z-index: 0;
}

.politica-background , .politica-background-overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.politica-container{
    position: relative;
}

.politica-background-overlay{
    background-image:url("/assets/background.jpg");
    background-position: center center;
    background-size: cover;
    opacity: 0.12;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.elementor *{
    box-sizing: border-box;
}

span,p, li{
    font-family: var(--fonte-politica);
}

.elementor .politita-conteudo p{
    font-size: var(--tamanho-texto);
}

.elementor .politica-titulo a{
    font-size: var(--tamanho-titulo);
}

.titulo_geral{
    font-size: 2.5rem;
    font-weight: 650;
    text-align: center;
}

.elementor{
    display: flex;
    flex-direction: column;
    border: 1px solid #d4d4d4;
}

.elementor a{
    text-decoration: none;
    color: black;

}

.elementor .politica-titulo{
    margin: 0;
    font-weight: 700;
    line-height: 1;
    background-color: #EDF8FF;
    cursor: pointer;
    outline: none;
    padding: 12px 15px;
}

.elementor .politica-conteudo{
    border-top: 1px solid #d4d4d4;
    padding: 7px 15px;
}

.elementor .politica-conteudo p,li{
    color: gray;
}

.elementor .politica-conteudo p {
    line-height: 1.5;
    margin: 0 0 1em 0;
}

.elementor .politica-titulo .politica-line{
    display: flex;
    flex-direction: row;
    gap: 1.7rem;
    justify-content: start;
    align-items: center;
}

.elementor .open{
    display: none;
}

.elementor .closed{
    display: inline-block;
}
/*FIM PAGINA POLITICAS*/

@media screen and (min-width: 320px) and (max-width:720px) {    
    #video {
        flex-direction: column;
    }

    #video-apresentacao {
        width: 80%;
        border-radius: 1.8rem;
    }

    .video__texto {
        text-align: center;
        font-size: var(--tamanho-texto);
        font-weight: 500;
        font-style: italic;
    }

    .conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .conteudo button {
        width: 100%;
        padding: .6rem 2rem .6rem 2rem;
        font-size: 15px;
    }

    .servicos{
        width: 100vw;
    }

    .servicos_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .contato-whatsapps{
        flex-direction: row;
        gap: 0.8rem;
    }
    
    .contato-whatsapps button{
        padding: 0.8rem 1.1rem;
        gap: 0.6rem;
        font-size: 18px;
    }
    
    .campos_juncao{
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }


    .imagens_tipo {
        width: 20rem;
        height: 15rem;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }

    .botao-menu{
        align-items: end;
    }

    .barra-de-navegacao {
        display: grid;
        grid-template-columns: 3fr 1fr;
        z-index: 1;
        padding: 0.3rem;
    }

    .logo-cabecalho{
        display: flex;
        margin: 0 0 0 auto;
    }

    .mobile-menu{
        display: block;
        right: 0;
        cursor: pointer;
        margin-right: 0;
        margin-left: auto;
        z-index: 1000;
    }

    .menu-links{
        display: none;
        transition: all 1s;
        transform: fadeout 0.5s;
        z-index: 999;
    }

    .menu-links.is-open {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        background: var(--cor-barra-de-nav);
        transform-origin: 0 0;
        animation: fadein 0.3s;
    }    

    .menu-links li a{
        font-size: var(--tamanho-texto);
        font-weight: 450;
    }

    .menu-links li:focus{
        transform: scale(0.8);
    }

    #close{
        display: none;
        position: relative;
        z-index: 100;
    }

    #carousel-home{
        display: none;
    }

    .whatsapps{
        display: grid;
    }

    figure img{
        width: 17rem;
        height: 17rem;
    }

    .servicos_botao{
        padding: 1.1rem 0.5rem;
    }

    .telefones{
        display: grid;
    }

    .whatsapps-expedicao, .whatsapps-planejamento{
        display: none;
    }

    /* Configuração SAC */
    .dados-pessoais{
        padding: 0;
        margin: 0.9rem;
    }
    
    .dados-pessoais .agrupamento{
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.3rem;
    }

    .dados-pessoais button{
        width: 18rem;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; }
    }    

    /*CONFIGURAÇÃO ORCAMENTO */
    .form-orcamento{
        width: 80vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .campos{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .campos input,textarea, select{
        border-color: transparent;
        line-height: 1.8rem;
    }

    label{
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .contato-whatsapps{
        flex-direction: column;
    }

    #botao-cep{
        padding: .8rem 2rem .8rem 2rem;
    }
    
}