.servicos_principal {
    display: grid;
    place-items: center;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85vw;
}

.servicos p{
    width: 75vw;
    padding: 0.75rem 0;
    text-align: justify;
    font-weight: 400;
}

.imagens_tipo {
    border-radius: 3rem;
    object-fit: cover;
    background-color: #7d7d7d;
    width: 65rem;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.campos-laterais {
    position: absolute;
    right: 6.7%;
    border-radius: 3rem;
    transform: translate(-50%, -100%);
    background-color: rgba(23, 127, 141, 0.685);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    height: 30rem;
    width: 16rem;
}

/* .servicos_corretiva{
    display:grid;
    grid-template-columns: 1fr 2fr;
    flex-direction: row;
    justify-content: space-between;
} */

.servicos_corretiva_texto {
    display: flex;
    flex-wrap: wrap;
}

.servicos_calibracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos_titulo {
    display: flex;
    font-size: 36px;
    font-weight: 600;
}

.calibracao_tipos {
    border-style: solid;
    width: 800px;
    height: 500px;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    overflow-inline: auto;
    gap: 2rem;
}

.card {
    box-sizing: border-box;
    width: 500px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
}

.card img {
    width: 190px;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.preventiva_img::before {
    content: '';
}

.preventiva_img::after {
    content: "Calibração";
    height: 100%;
    width: 15rem;
    right: 0;
    left: auto;
    background-color: black;
}



/* .servicos_preventiva{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
} */

@media screen and (min-width: 450px) and (max-width:720px) {}