@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,600&display=swap');

:root {
    --cor-de-fundo: #eeee;
    --fonte-texto: 26px;
    --tamanho-texto:26px;
    --fonte-geral: 'Montserrat', sans-serif;
    --cor-texto: whitesmoke;
    --cor-titulo: black;
    --cor-botoes:#176B87;
    --cor-barra-de-nav: linear-gradient(rgb(6, 69, 97), rgb(43, 104, 131));;
    --tamanho-botoes: 20px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
}

main {
    background-color: var(--cor-de-fundo);
    padding-bottom: 2rem;
}

#top {
    display: none;
    position: fixed;
    /* Fixed/sticky position */
    bottom: 1.6rem;
    /* Place the button at the bottom of the page */
    right: 1.4rem;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    font-size: 1.8rem;
    color: #0c54f0;
    border: none;
    background-color: transparent;
}

.titulo {
    font-size: 30px;
    font-family: 'Monteserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    text-decoration-line: underline;
    color: var(--cor-titulo);
    display: grid;
    place-items: center;
    text-shadow: 4px 6px 4px 0px rgba(0, 0, 0, 0.50);
}

.subtitulo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: whitesmoke;
    font-weight: 500;
}

.texto {
    font-size: 15px;
    color: whitesmoke;
    text-align: center;
}

span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
a {
    font-family: var(--fonte-geral);
}

/* Header Inicio */

.barra-de-navegacao {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    padding: 0.8rem;
}

.logo-cabecalho {
    margin-left: 1.3rem;
}

.nav-bar {
    display: grid;
    place-items: center;
}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.botao-menu div{
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
}

#close{
    font-size: 32px;
    color: #fff;
}

.menu-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    list-style: none;
    font-size: 1.25rem;
    font-weight: 400;
}

.menu-links li {
    transition: all 0.5s;
}

.menu-links li:hover {
    transform: scale(0.8);
}

.menu-links li a {
    text-decoration: none;
    color: aliceblue;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
}

.usuario {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

.cliente {
    color: whitesmoke;
    font-size: medium;

}

/* Fim Header */

/* Footer Inicio */
.conteudo {
    background: linear-gradient(#064561, #2b6883);
    font-style: italic;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1.2rem;
    gap: 0.8rem;
}

.conteudo button {
    border-radius: 0.6rem;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
    padding: 0.4rem;
    width: 75%;
    background-color: #00354D;
    color: whitesmoke;
    font-size: 13px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-footer a:hover {
    scale: 1.2;
}

/* Redes Sociais */
#footer-socialmedia {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.15rem;
}

#footer-socialmedia .footer-link {
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: all 0.5s;
}

#footer-socialmedia .footer-link i {
    font-size: 1.6rem;
    color: #DCDCE4;
}

#footer-socialmedia .footer-link :hover {
    opacity: 75%;
}

/* Fim Redes Sociais */

.fale-conosco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.informacoes-de-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.visita {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
}

.copyright {
    background-color: #000000;
    color: whitesmoke;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Footer */

/* PAGINA INDEX */
.conteudo_principal {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

#video {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

#video-apresentacao {
    width: 100vh;
    border-radius: 1.8rem;
}

.video__texto {
    text-align: center;
    font-size: var(--tamanho-texto);
}

button {
    transition: all 0.4s;
}

button:hover {
    scale: 1.08;
}

/* Config Cards */
.servicos_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

figure {
    display: grid;
    border-radius: 1rem;
    overflow: hidden;
}

figure>* {
    grid-area: 1/1;
    transition: .4s;
}

figure figcaption {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 2.3rem;
    font-weight: bold;
    color: #ffffff;
    padding: .75rem;
    background: var(--c, rgba(4, 68, 97, 0.6));
    clip-path: inset(0 var(--_i, 100%) 0 0);
    -webkit-mask:
        linear-gradient(#000 0 0),
        linear-gradient(#000 0 0);
    -webkit-mask-clip: text, padding-box;
    margin: -1px;
}

figure:hover figcaption {
    --_i: 0%;
}

figure:hover img {
    transform: scale(1.2);
}

figure img {
    width: 22rem;
    height: 22rem;
}

@supports not (-webkit-mask-clip: text) {
    figure figcaption {
        -webkit-mask: none;
        color: #fff;
    }
}

/* Fim Config Cards */

#botao_servicos {
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicos_botao {
    transform: skew(-21deg);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem;
    background: var(--cor-botoes);
    transition: all 0.4s;
}

.servicos_botao:hover {
    scale: 1.08;
}

.servicos_botao span {
    transform: skew(21deg);

}

.servicos_texto {
    text-align: center;
    font-weight: 500;
}

/* Contato */

.conteudo_contato {
    display: grid;
    gap: 0.8rem;
    padding: 1.4rem;
}

.conteudo_contato a {
    transition: all 0.32s;
    transform: skew(-21deg);
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    padding: 1.5rem;
    background: var(--cor-botoes);
    border-radius: 0.8rem;
}

.conteudo_contato a span,
.conteudo_contato a i {
    transform: skew(21deg);
}

.conteudo_contato a:hover {
    scale: 1.08;
}

.conteudo_contato_links {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.conteudo_contato_links a {
    text-decoration: none;
}

.conteudo_contato_titulo {
    font-weight: 500;
    text-align: center;
}

.whatsapps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.8rem;
}

.whatsapps a {
    width: 13rem;
    height: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    gap: 0.65rem;
}

.whatsapps a i {
    font-size: 32px;
}

.telefones {
    display: flex;
    flex-direction: row;
    gap: 0.9rem;
    align-items: center;
    justify-content: center;
}

.telefones a {
    text-decoration: none;
    padding: 1.5rem;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* Fim Contatos */

/* PAGINA INDEX */


/* Pagina Sobre */

/* Fim Pagina Sobre */


/* Pagina SAC*/
.titulo-sac {
    padding-top: 1.2rem;
    text-align: center;
}

.dados-pessoais {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    padding: 0px 15rem;
    line-height: 1.5rem;
}

.dados-pessoais .agrupamento {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5.31rem;
}

.dados-pessoais .agrupamento div {
    display: flex;
    flex-direction: column;

}

.dados-pessoais input,
select {
    border-radius: 0.4rem;
    border-color: transparent;
}

.dados-pessoais button {
    border-radius: 0.6rem;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.50);
    padding: 0.4rem;
    margin: 0 15rem;
    background-color: var(--cor-botoes);
    color: whitesmoke;
    font-size: 13px;
    border-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

/*Fim Pagina SAC*/


/*PAGINA ORÇAMENTOS*/
.orcamento button{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: skew(-21deg);
}

.orcamento{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-orcamento{
    width: 60vw;
}

h1{
    text-align: center;
}

.campos{
    display: flex;
    flex-direction: column;
}

.campos input,textarea{
    border-color: transparent;
    margin: 0.4rem 0;
    line-height: 1.8rem;
    width: 100%;
}

.campos_juncao{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}

.campos label{
    display: flex;
    flex-direction: row;
}

.correcao{
    font-size: 1rem;
    color: rgb(216, 25, 25);
}

.botao_solicitacao{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.9rem 0;
}

.form-orcamento-solicitar{
    background: var(--cor-botoes);
    color: white;
    border: none;
    font-weight: 500;
    padding: 3px;
    border-radius: 8px;
    box-sizing: border-box;
    cursor: pointer;
    transition: all .3s;
    display: flex;
}

.form-orcamento-solicitar span{
    text-align: center;
    background-color: rgb(5, 6, 45);
    padding: 1rem 1.4rem;
    border-radius: 6px;
    transition: 0.3s;
}

.form-orcamento-solicitar:hover span{
    background: none;
}

.contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato .texto{
    color: black;
    font-family: 'Monteserrat' sans-serif;
    font-weight: 500;
    font-size: large;
}

.contato-whatsapps{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    gap: 10vw;
}

.contato-whatsapps button{
    padding: 1.2rem 1.1rem;
    background: var(--cor-botoes);
    border: none;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.6rem;
    font-size: var(--tamanho-botoes);
    transition: all 0.4s;
}

.contato-whatsapps button span{
    color: white;
}

.contato-whatsapps button:hover{
    scale: 1.08;
}

.contato-whatsapps .fa-brands{
    color: white;
    font-size: 2.3rem;
}

.contato-whatsapps span,.contato-whatsapps i{
    transform: skew(21deg);
}


/*FIM ORÇAMENTOS*/

/* PAGINA SERVIÇOS */
.servicos_principal {
    display: grid;
    place-items: center;
}

.servicos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 85vw;
}

.servicos p {
    width: 75vw;
    padding: 0.75rem 0;
    text-align: justify;
    font-weight: 400;
}

.imagens_tipo {
    border-radius: 3rem;
    object-fit: cover;
    background-color: #7d7d7d;
    width: 65rem;
    height: 30rem;
    margin: 0 auto;
    display: grid;
    place-items: center;
}

.campos-laterais {
    position: absolute;
    right: 6.7%;
    border-radius: 3rem;
    transform: translate(-50%, -100%);
    background-color: rgba(23, 127, 141, 0.685);
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 36px;
    text-align: center;
    height: 30rem;
    width: 16rem;
}

.servicos_corretiva_texto {
    display: flex;
    flex-wrap: wrap;
}

.servicos_calibracao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.servicos_titulo {
    display: flex;
    font-size: 36px;
    font-weight: 600;
}

.lista_equip{
    display: flex;
    flex-direction: column;
}

.calibracao_tipos {
    width: 100%;
    max-width: 84rem;
    position: relative;
}

.calibracao_tipos .content {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.content::-webkit-scrollbar {
    height: 0;
}

.calibracao_tipos .item {
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-content: center;
    background: white;
    border: none;
    padding: 8px;
    border-radius: 50%;
    outline: 0;
    cursor: pointer;
    position: absolute;
}

.prev {
    top: 50%;
    left: 0;
    transform: translate(50%, -50%);
    display: none;
}

.next {
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

.card {
    border-radius: 17px;
    width: 20rem;
    height: 20rem;
}

.card:hover {
    border: 1px solid black;
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}

.preventiva_img::before {
    content: '';
}

.preventiva_img::after {
    content: "Calibração";
    height: 100%;
    width: 15rem;
    right: 0;
    left: auto;
    background-color: black;
}

/* FIM PAGINA SERVIÇOS */

@media screen and (min-width: 456px) and (max-width:720px) {
    #video {
        flex-direction: column;
    }

    .video__texto {
        text-align: center;
        font-size: var(--tamanho-texto);
        font-weight: 500;
        font-style: italic;
    }

    .conteudo {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .conteudo button {
        width: 100%;
        padding: .6rem 2rem .6rem 2rem;
        font-size: 15px;
    }

    .servicos{
        width: 100vw;
    }

    .servicos_items {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .contato-whatsapps{
        flex-direction: row;
        gap: 0.8rem;
    }
    
    .contato-whatsapps button{
        padding: 0.8rem 1.1rem;
        gap: 0.6rem;
        font-size: 18px;
    }
    
    .campos_juncao{
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .form-orcamento{
        width: 80vw;
    }

    .imagens_tipo {
        width: 20rem;
        height: 15rem;
        margin: 0 auto;
        display: grid;
        place-items: center;
    }

    .botao-menu{
        align-items: end;
    }

    .barra-de-navegacao {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        align-items: center;
        z-index: 1;
        padding: 0.8rem;
    }

    .mobile-menu{
        display: block;
        cursor: pointer;
    }

    .menu-links{
        display: none;
        transition: all 1s;
        transform: fadeout 0.5s;
        transition: all .275s .1s;
    }

    .menu-links.is-open {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2.5rem;
        background: var(--cor-barra-de-nav);
        transform-origin: 0 0;
        animation: fadein 0.3s;
    }    

    .menu-links li a{
        font-size: var(--fonte-texto);
        font-weight: 450;
    }

    #close{
        display: none;
        position: relative;
        z-index: 100;
    }

    .menu-links li:focus{
        transform: scale(0.8);
    }

    #carousel-home{
        display: none;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

    @keyframes fadeout {
        from { opacity: 1; }
        to   { opacity: 0; }
    }    
}